/pom.xml
*jar
/lib
/classes
/native
/.lein-failures
/checkouts
/.lein-deps-sum
*.swp
*.pyc
*.o
*.so
*.dSYM
*.mexmaci64
*.png
*.jpg
*.txt
*.mat
*.cmake
CMakeCache.txt
CMakeFiles

aruco
articulation
cpp/data
doc
fitnewton
helixhough
libseamstress
include
